.project
.settings
*~
*.diff
*.patch
.DS_Store
.bower.json
.sizecache.json
yarn.lock
package-lock.json

npm-debug.log*

# Ignore everything in dist folder except for eslint config
/dist/*
!/dist/.eslintrc.json

/amd
/external
/node_modules

/test/data/core/jquery-iterability-transpiled.js
/test/data/qunit-fixture.js

# Visual Studio 2015 cache/options directory
.vs/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.bak

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt
